/* ChezFur.css - Default styles for small screens */
/* Body styling for small screens */
body {
    background-color: peru; /* Background color for body */
    color: bisque; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
}

header{
    background-color: peru; /* Background color for main area */
}

/* Main section styling */
main {
    background-color: saddlebrown; /* Background color for main area */
    color: gainsboro; /* Text color for main area */
}

/* Media query for larger screens */
@media (min-width: 750px) {
    /* Body styling for larger screens */
    body {
        background-color: maroon; /* Background color for larger screens */
        color: moccasin; /* Text color for larger screens */
        font-family: Georgia, serif; /* Font family for larger screens */
    }
}